[submodule "spigo"]
	path = spigo
	url = https://github.com/jeqo/spigo
[submodule "go-vizceral"]
	path = go-vizceral
	url = https://github.com/jeqo/go-vizceral
[submodule "vizceral-example"]
	path = vizceral-example
	url = https://github.com/jeqo/vizceral-example
